html {
    scroll-behavior: smooth;
}

body {
    background-color: #121212;
}
h1, h2, h3, h4, h5, h6, p {
    color: #E8EAED;
}
.jumbotron {
    background-color: #121212;
}

body {
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
}

.container {
    margin-right: auto;
    margin-left: auto;
}

.btn {
    min-width: 200px;
    margin-top: 10px;
}
